#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(45deg, rgb(64, 140, 190) 0%, rgb(64, 140, 190) 7%,rgb(62, 107, 145) 7%, rgb(62, 107, 145) 9%,rgb(49, 99, 131) 9%, rgb(49, 99, 131) 11%,rgb(116, 172, 211) 11%, rgb(116, 172, 211) 26%,rgb(125, 182, 214) 26%, rgb(125, 182, 214) 34%,rgb(40, 90, 136) 34%, rgb(40, 90, 136) 41%,rgb(39, 123, 190) 41%, rgb(39, 123, 190) 100%)
}
h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: -5px;
    text-align: center;
}
h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: -5px;
    margin-top: -30px;
    text-align: center;
    font-size: 15px;
}
