#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(135deg, rgb(80, 206, 110) 0%, rgb(80, 206, 110) 44%,rgb(45, 196, 106) 44%, rgb(45, 196, 106) 66%,rgb(10, 185, 102) 66%, rgb(10, 185, 102) 73%,rgb(151, 227, 119) 73%, rgb(151, 227, 119) 75%,rgb(116, 217, 115) 75%, rgb(116, 217, 115) 93%,rgb(186, 238, 123) 93%, rgb(186, 238, 123) 100%)
}
h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: -5px;
    text-align: center;
}